In [ ]:
!pip install selenium

In [ ]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

# buscando elementos de texto da página da ETUFOR
navegador = webdriver.Chrome()
navegador.get("https://moovitapp.com/index/pt-br/transporte_p%C3%BAblico-lines-Fortaleza-983-9809")

linhas = []

for linha in navegador.find_elements(By.CLASS_NAME,'line-title-wrapper'):
    linha = linha.text
    linhas.append(linha)
    print(linha)

In [ ]:
# separando em duas listas 
num_linhas = []
nome_linhas = []

for linha in linhas:
    num_linhas.append(int(linha[:3]))
    nome_linhas.append(linha[4:])
    
for x in num_linhas:
    print(x)

In [39]:
import pandas as pd
# criando dicionário 
data = {'Número': num_linhas,'Nome': nome_linhas}

# criando DataFrame
df = pd.DataFrame(data, columns=['Número','Nome'])
df.to_csv(r'linhas_onibus.csv', index = False)

display(df)

     Número                                Nome
0         4   Messejana / Papicu / Cambeba / TJ
1        11                          Circular I
2        12                         Circular II
3        14           Aguanambi / Rodoviária II
4        15  Conjunto Ceará / Antônio Bezerra I
..      ...                                 ...
285     905                   Meireles / Centro
286     906    Caça e Pesca / Serviluz / Centro
287     907          Castelo Encantado / Centro
288     913         Papicu / Serviluz / Varjota
289     920               Papicu / Caça e Pesca

[290 rows x 2 columns]